/venv
*service_account.json
/backend/service_account.json
*credentials.json
*creds.py
/backend/creds.py
*quickstart.py
/backend/__pycache__
key.rtf
client_secrets.json
token.pickle
.env
!.env.example
.DS_Store