Flask>=3.0,<4
google-api-python-client>=2.0,<3
google-auth-oauthlib>=1.0,<2
google-auth>=2.0,<3
gspread>=5.0,<7
Pillow>=10.0,<12
pillow-heif>=0.16,<1
python-dotenv>=1.0,<2
pytz
requests>=2.31,<3
slack-sdk>=3.27,<4
supabase>=2.3,<3
websockets>=13.0,<16
